<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cyh.labCalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="LabCalculator">
            activity
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:label="弦振动">
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="固体线膨胀系数">
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="液体线膨胀系数第一问">
        </activity>
        <activity android:name=".FourthActivity">
        </activity>

        <activity android:name=".universal.UniversalCalculatorActivity"/>

    </application>

</manifest>